<div class="post-list my-10 flex">
{% for post in posts %}
    <a href="{{ post.url }}" class="flex shadow-lg rounded items-center justify-center overflow-hidden">
        {% if post.featureImage|length %}
            {% set image = post.featureImage.one() %}
            <div class="w-1/4">
                <img src="{{ image.getUrl({ width: 300, height: 300}) }}" 
                    alt="{{ image.title }}"
                    class="block"
                />
            </div>
        {% endif %}
        <span class="title w-3/4 p-4">{{ post.title }}</span>
    </a>
{% endfor %}
</div>