{% extends "_layout" %}

{% set posts = craft.entries.section('blog').all() %}

{% block content %}

  <h1 class="text-4xl text-black font-display my-4">Blog Posts</h1>

  {% include "_includes/listing" with { posts: posts } only %}

{% endblock %}
