<!DOCTYPE html>
<html lang="{{ craft.app.language }}">
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8"/>
    <title>{{ siteName }}</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover" name="viewport">
    <link href="/styles.css" rel="stylesheet">
  </head>
  <body class="ltr">
    {% include "_includes/nav" %}
    <div class="container mx-auto px-4"> {% block content %}{% endblock %}
      </div>
      <footer class="container mx-auto mt-8 p-4 text-sm opacity-50">
        {{ siteInformation.siteDescription|markdown }}
        <p>&copy;
          {{ now | date('Y') }}, built with
          <a class="text-blue-600" href="https://craftcms.com">Craft CMS</a>
        </p>
      </footer>
    </body>
  </html>
