{% extends '_layout' %}

{% set profilePhoto = entry.profilePhoto.one() %}

{% block content %}
  <h1>{{ entry.title }}</h1>

  <div class="about">
    {% if profilePhoto %}
      <div class="photo">
        {{ profilePhoto.getImg({
          mode: 'crop',
          width: 360,
          height: 360,
        }) }}
      </div>
    {% endif %}

    <div class="bio">
      {{ entry.bio | md }}
    </div>
  </div>
{% endblock %}