/* Variables */

:root {
    --color-base: #222;
    --color-highlight: #E5422B;
    --color-muted: #AAA;
    --layout-site-gutter: 2rem;
    --layout-site-section-spacer: 6rem;
    --layout-site-width: 40rem;
    --type-system-ui: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --type-technical: monospace;
}

/* Containers */

body {
    color: var(--color-base);
    font-family: var(--type-system-ui);
    line-height: 1.5;
    margin: 0;
    padding: var(--layout-site-gutter) max(var(--layout-site-gutter), calc((100vw - var(--layout-site-width)) / 2));
}

header {
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--layout-site-section-spacer);
}

main {}

footer {
    font-size: 0.75em;
    margin-top: var(--layout-site-section-spacer);
    text-align: center;
}

/* Elements */

img {
    display: block;
    max-width: 100%;
    height: auto;
}

a {
    color: inherit;
    text-decoration: none;
}

time {
    color: var(--color-muted);
    font-family: var(--type-technical);
}

/* Header */

header .home {
    font-weight: bold;
}

/* Navigation */

nav {}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    margin-left: var(--layout-site-gutter);
}

nav a {
    color: var(--color-muted);
}

nav a.active,
nav a:hover {
    color: var(--color-base);
}

/* Footer */

footer a {
    text-decoration: underline;
}

footer .copyright,
footer .colophon {
    color: var(--color-muted);
}

/* Blog */

article + article {
    margin-top: var(--layout-site-section-spacer);
}

article a {
    color: var(--color-highlight);
    text-decoration: underline;
}

.thumbnail {}

/* Posts */

.topics {
    display: flex;
    list-style: none;
    margin: var(--layout-site-gutter) 0;
    padding: 0;
}

.topics li {
    margin-right: 4px;
}

.topics a {
    background-color: var(--color-highlight);
    border-radius: 2px;
    color: white;
    font-family: var(--type-technical);
    padding: 2px 8px;
    text-transform: uppercase;
}

.topics a:hover {
    background-color: var(--color-base);
}

.feature-image {
    margin-bottom: var(--layout-site-section-spacer);
    margin-left: calc(-1 * var(--layout-site-gutter));
    margin-right: calc(-1 * var(--layout-site-gutter));
}

.post-content {}

.content-block {
    margin-bottom: var(--layout-site-gutter);
}

.content-block.unsupported {
    border: 1px dashed var(--color-highlight);
    color: var(--color-highlight);
    padding: var(--layout-site-gutter);
    text-align: center;
}

/* About */

.about {}

.about .photo {
    border-radius: 100%;
    height: 180px;
    margin: 0 auto var(--layout-site-gutter) auto;
    overflow: hidden;
    width: 180px;
}